<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/addReservation}" th:object="${reservationEvent}" method="post">
   <div>
       <div>
           <label for="eventName">Event name:</label>
       </div>

       <div>
           <input id="eventName" th:field="*{eventName}"></label>
       </div>
    </div>
    <div>
        <div>
           <label for="eventDate">Event date:</label>
       </div>
       <div>
           <input id="eventDate" type="date" th:field="*{eventDate}"></label>
       </div>
    </div>
    <div>
       <div>
           <label for="reservationsLimit">Reservations limit:</label>
       </div>
       <div>
           <input id="reservationsLimit"  type="number" th:field="*{reservationsLimit}"></label>
       </div>
   </div>
    <div>
        <div>
            <label for="description">Description:</label>
        </div>
        <div>
            <input id="description"  type="text" th:field="*{description}"></label>
        </div>
    </div>
    <div>
        <input type="submit" th:value="Submit"><div>

        </div>
    </div>

</form>




</body>
</html>