<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments :: links">

    </div>
</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container marketing">

<h2>
    <p th:if="${clientsName} !=null" th:text="'Hello ' + ${clientsName} + '!'"></p>
    <p th:if="${clientsName} ==null" > I don't know you</p>
</h2>
    <div th:each="element: ${list}">
        <p th:text="${element}"></p>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>