<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: links">

</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container marketing">

    <h3>Reservation List</h3>
    <div class="row col-md-offset-1 col-md-10">
        <div class="row table-header">
            <div class="col-md-1">Id</div>
            <div class="col-md-2">ParticipantName</div>
            <div class="col-md-2">Event Name</div>
            <div class="col-md-3">Status</div>
            <div class="col-md-4">Actions</div>
        </div>
        <div class="row table-row" th:each="reservationListx : ${reservationList}">
            <div class="col-md-1"><p th:text="${reservationListx.getId()}"></p></div>
            <div class="col-md-2"><p th:text="${reservationListx.getName()}"></p></div>
            <div class="col-md-2"><p th:text="${reservationListx.getEvent().getEventName()}"></p></div>
            <div class="col-md-3"><p th:text="${reservationListx.getStatus()}"></p></div>

            <div class="col-md-2 row">
            <div class="col-md-6"><!--usuwanie-->
                <a th:href="@{'/reservation/remove/' + ${reservationListx.getId()}}">Remove</a>
            </div>
            <div class="col-md-6"><!--szczegoly-->
                <a th:href="@{'/reservation/details/' + ${reservationListx.getId()}}">Details</a>
            </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>