<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: links">

</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container marketing">
<h3>Reservation details</h3>
<div class="row">
    <div class="row">
        <form th:action="@{/reservation/details}" th:object="${reservationdto}" method="post">
            <input th:value="*{id}" th:field="*{id}" hidden>
            <input th:value="*{eventId}" th:field="*{eventId}" hidden>
            <div class="row">
                <div class="col-md-3">
                    <label for="participantName">Participant name:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="participantName" th:value="*{participantName}" th:field="*{participantName}"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="confirmed">Status:</label>
                </div>
                <div class="col-md-5">
                        <input type="radio" name="status" id="confirmed" th:value="CONFIRMED" th:field="*{status}">CONFIRMED<br>
                        <input type="radio" name="status" id="unconfirmed" th:value="UNCONFIRMED" th:field="*{status}">UNCONFIRMED<br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <input class="form-control" type="submit" th:value="Save">
                </div>
            </div>
        </form>
    </div>
</div>

</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>